@charset "ISO-8859-1";

body{
   	margin: 0;
	padding: 0;
	background-image: url("Images/UST-MainBldg-Half.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

.containerForm{
	font-family: "Century Gothic", sans-serif;
	margin-top: 116px;
	margin-left: 248px;
}

table th,
table td {
	font-size: 16px;
	padding: 8px;
}

